.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #d900e1, #ffbf00);
  padding: 2rem 2rem;
  color:#e1007c;
  font-size: 1.3rem;
}

.left-section {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

.home-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.7rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links a:hover, .home-link:hover {
  text-decoration: underline;
}

.site-header button {
  width: 75px;
}
